.reveal blockquote {
  text-align: left;
  padding: 5px 15px;
}

.reveal blockquote small {
  width: 100%;
  text-align: right;
}

.reveal ul {
  width: 100%;
}

/* .reveal [data-background-image$="back-in-time.jpg"] > * { */
.reveal [data-background-image] > * {
  background-color: rgba(88, 110, 157, 0.66);
  color: #fff;
}

.reveal [data-background-image="images/giphy-confused.gif"] > *,
.reveal [data-background-image="images/we-can-do-it.jpg"] > *,
.reveal [data-background-image="images/mind-blown.gif"] > *,
.reveal [data-background-image="images/confused.gif"] > * {
  margin-top: 33%;
}
.reveal [data-background-image="images/globals-everywhere.jpg"] > *,
.reveal [data-background-image="images/modules-everywhere.jpg"] > * {
  margin-top: 25%;
}

#author {
  margin-top: 60px;
}

#author img { 
  border: 0;
  box-shadow: none;
  margin: -2px 5px 0 0;
}

#css-modules-logo {
  border: 0;
  box-shadow: none;
  width: 256px;
}

.hljs-comment {
  color: #cb4b16!important;
}
